<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <span>{{ 'layout.menu' | translate }}</span>
    </mat-toolbar>
    <mat-nav-list>
      @if (filteredMenu.length === 0) {
        <div style="padding: 16px; text-align: center; opacity: 0.6;">
          <p>{{ 'layout.noMenuItems' | translate }}</p>
        </div>
      }
      @for (item of filteredMenu; track $index) {
        @if (!item.hidden) {
          @if (item.type === 'group') {
            <h3 mat-subheader>{{ getTranslatedTitle(item) }}</h3>
            @for (child of item.children; track $index) {
              <a
                mat-list-item
                [routerLink]="child.url"
                #link="routerLinkActive"
                routerLinkActive
                [activated]="link.isActive"
                target="{{child.target}}"
              >
                @if (child.matIcon) {
                  <button matIconButton matListItemMeta>
                    <mat-icon>{{ child.matIcon }}</mat-icon>
                  </button>
                }
                {{ getTranslatedTitle(child) }}
              </a>
            }
            <mat-divider></mat-divider>
          } @else {
            <a
                mat-list-item
                [routerLink]="item.url"
                #link="routerLinkActive"
                routerLinkActive
                [activated]="link.isActive"
                target="{{item.target}}"
                >
              @if (item.matIcon) {
                <button matIconButton matListItemMeta>
                  <mat-icon>{{ item.matIcon }}</mat-icon>
                </button>
              }
              {{ getTranslatedTitle(item) }}
            </a>
          }
        }
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content select="[slot=toolbar]"></ng-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
